// Paytone One fonts

@font-face {
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/paytone-one-v16-latin-regular.woff2') format('woff2'), 
         url('../fonts/paytone-one-v16-latin-regular.woff') format('woff'); 
}

