* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'paytone one' , sans-serif;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

